.search-results > * {
    margin-top: 1rem;
    margin-left: 2%;
    margin-right: 2%;
}

.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-results > div {
    flex: 20% ;
    margin-bottom: 50px;
  }